<h4>Office Hours</h4>
<p>M-F 8:30am - 3:30pm</p>
<p>Phone: (602)923-1402</p>
<p><img src="@Url.Content("~/content/image/contact.png")" alt="Contact Us" /><a href="@Url.Content("~/contact/contact")">Contact Us</a></p>
<p><img src="@Url.Content("~/content/image/location.png")" alt="Our Location" /><a href="@Url.Content("~/contact/location")">Our Location</a></p>
<p class="facebook"><img src="@Url.Content("~/content/image/facebook.png")" alt="Facebook" /><a target="_blank" href="#">Facebook</a></p>
